.statistics-row {
  display: flex;
  margin: 10px 0;
}

.statistic {
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.value {
  color: #333;
}

/* Data loader styling */
.data-loader {
  border: 1px solid #ccc;  /* Subtle border */
  padding: 5px;           /* Add internal spacing */
  border-radius: 5px;      /* Slightly rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Soft drop shadow */
  margin-bottom: 20px;     /* Space below the loader */
  font-family: Arial, sans-serif;  /* Clean, readable font */
}

.data-loader h2 {
  color: #333;            /* Darker heading color */
  margin-bottom: 5px;    /* Space below the heading */
  margin-top: 5px; 
}

.radio-group label, 
.radio-group input[type="radio"] {
  display: inline-block;
  margin-right: 10px; 
}

/* You might need to adjust alignment */
.data-loader form { 
  display: flex;         /* Use flexbox for layout */
  align-items: center;   /* Vertically center elements */
} 
/* end data loader styling */

.main-filter-container {
  border: 1px solid #e0e0e0; /* Delicate border */
}

.filter-container {
  background-color: #f8f9fa; /* Light, subtle background */
  border: 1px solid #e0e0e0; /* Delicate border */
  border-radius: 5px;         /* Softly rounded corners */
  padding: 5px;              /* Comfortable spacing */
  margin-bottom: 1px;        /* Space between containers */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
}

.filter-container label {
  font-weight: bold;          /* Emphasize labels */
  margin-bottom: 5px;         /* Space between label and elements */
}
