.statistics-row {
  display: flex;
  margin: 10px 0;
}

.statistic {
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.value {
  color: #333;
}

/* Data loader styling */
.data-loader {
  background-color: #f8f9fa;
  border: 1px solid #ccc;  /* Subtle border */
  padding: 5px;           /* Add internal spacing */
  border-radius: 5px;      /* Slightly rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Soft drop shadow */
  margin-bottom: 20px;     /* Space below the loader */
  font-family: Arial, sans-serif;  /* Clean, readable font */
}

.data-loader h2 {
  color: #333;            /* Darker heading color */
  margin-bottom: 5px;    /* Space below the heading */
  margin-top: 5px; 
}

.radio-group label, 
.radio-group input[type="radio"] {
  display: inline-block;
  margin-right: 10px; 
}

/* You might need to adjust alignment */
.data-loader form { 
  display: flex;         /* Use flexbox for layout */
  align-items: center;   /* Vertically center elements */
} 
/* end data loader styling */

/* Filter options styling */
.main-filter-container {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0; /* Delicate border */
  font-family: Arial, sans-serif;  /* Clean, readable font */
}

.main-filter-container h2 {
  color: #333;            /* Darker heading color */
  margin-bottom: 5px;    /* Space below the heading */
  margin-top: 5px; 
}

.filter-container {
  background-color: #eeeff0; /* Light, subtle background */
  border: 1px solid #e0e0e0; /* Delicate border */
  border-radius: 5px;         /* Softly rounded corners */
  padding: 5px;              /* Comfortable spacing */
  margin-bottom: 1px;        /* Space between containers */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
}

.filter-container label {
  font-weight: bold;          /* Emphasize labels */
  margin-bottom: 5px;         /* Space between label and elements */
}
/* filter options styling end */

/* Result presentation styling */
.scalar-results {
  border: 1px solid #ddd;       /* Subtle border */
  padding: 20px;                /* Internal spacing */
  border-radius: 5px;           /* Rounded corners */
  margin-bottom: 20px;          /* Space below */
  font-family: Arial, sans-serif;   /* Clean font */
}

.scalar-results h2 {
  color: #333;                  /* Darker heading */
  margin-bottom: 15px;        
}

.scalar-results table {
  border-collapse: collapse;    /* Single lines for table borders */
  width: 100%;                  /* Make table fill container width */
}

.scalar-results th, 
.scalar-results td {
  text-align: left;             /* Align text */
  padding: 8px;                 /* Cell spacing */
  border: 1px solid #eee;       /* Light cell borders */
}

.scalar-results th {
  background-color: #f0f0f0;    /* Light gray header background */
}

.scalar-results tr:first-child td { 
  font-weight: bold;            /* Bold for the 'All Data' row */
}
