<!DOCTYPE html>
<html>
<head>
  <title>Data Loader</title>
  <link rel="stylesheet" href="static/style.css"> </head>
<body>
  <h1>Data Loader</h1>
  <form method="POST" action="/load_data" id="load-data-form">
    <input type="radio" id="v75" name="data_version" value="v75" {% if selected_version == "v75" %}checked{% endif %}>
    <label for="v75">v75 Data</label><br>
    <input type="radio" id="v86" name="data_version" value="v86" {% if selected_version == "v86" %}checked{% endif %}>
    <label for="v86">v86 Data</label><br>
    <button type="submit">Load Data</button>
  </form>

  <h1>Filter Data</h1>
  <button id="alla_banor_toggle_button" onclick="alla_banor_click()">Avmarkera alla banor</button> 
  <form method="POST" action="/filter_data" id="filter-data-form">
    {{ filter_inputs|safe }}
    <button type="submit">Filter</button>
  </form>

  <h1>Data Statistics</h1>
  <p>Relevant Data: {{relevant_percentage}} % av totalt {{total_data_entries}} rader</p>


  {{ all_scalar_results_html|safe }}

  <script src="static/script.js"></script>
</body>
</html>
